.star-rating {
  color: gold;
  font-size: 24px;
}

.star-rating :nth-child(n+1):nth-child(-n+5) {
  margin-right: 2px;
}

.star-rating ng-container:nth-child(2) {
  position: relative;
}

.star-rating ng-container:nth-child(2)::before {
  content: '★';
  color: lightgray;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 50%;
}
