@import "tailwindcss";

.sidebar {

  padding: 20px;
  @apply bg-gray-100 dark:bg-gray-800 not-sm:w-full;

  position: absolute;

  right: 0;
  top: 0;

  width: 500px;
  height: 100vh;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  animation: slideInFromRight 0.5s ease forwards;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 50%;


}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;

  height: 150px;

  padding-top: 50px;
  padding-bottom: 50px;

  border-top: 1px solid black;
}

.quantity {
  @apply bg-gray-100 dark:bg-gray-700;


  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 40px;
  width: 60%;

  border-radius: 15px;
  border: 2px solid #dadada;

}

.quantity > * {
  transform: scale(0.95);

  display: flex;
  align-items: center;
  justify-content: center;

}
.quantity > button:hover {
  transition: 0.5s;
  transform: scale(1.00);

  @apply bg-gray-200 dark:bg-gray-800;


  height: 100%;
}

@keyframes slideInFromRight {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}

.remove {
  color: #ff4848 !important;
  fill: none !important;

  cursor: pointer;
}

.payment {

  @apply bg-gray-200 dark:bg-gray-900;


  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 90%;

  height: 150px;

  padding: 20px;

  border-radius: 20px;

}
.coupon {
  @apply bg-gray-200 dark:bg-gray-900;

  display: flex;
  flex-direction: column;

  width: 90%;

  padding: 20px;
  border-radius: 20px;

}

input {
  text-align: start;

  width: 100%;
  height: 50px;

  background-color: #F1F1F1;

  color: black;

  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;

  border: 2px solid rgba(0,0,0,28%);
}

input:focus {
  border: 2px solid black;
}
