<app-plugin-modal #pluginModal></app-plugin-modal>

<main>
  <header class="plugins-header">
    <div class="flex not-sm:flex-col">
      <p class="plugins-btn" style="background: #1796ff">Plugins: </p>
      <a class="plugins-btn btn" href="">{{ langs.getTranslation("plugins", "download_core") }}</a>
    </div>
    <select class="plugins-btn btn text-center">

      <option value="0" >{{ langs.getTranslation("plugins", "filter") }}</option>
      <option value="1" >{{ langs.getTranslation("plugins", "most_recent") }}</option>
      <option value="2" >{{ langs.getTranslation("plugins", "most_downloaded") }}</option>

    </select>
  </header>
  <div class="plugins-container" [ngClass]="{ 'no-plugins': loadedPlugins.length === 0 }">

    <div *ngFor="let plugin of loadedPlugins" class="card">
      <img src="{{ plugin.iconUrl }}" alt="foto" width="1" height="1">
      <h3 class="font-normal">{{ plugin.name }}</h3>
      <p>{{ plugin.slogan }}</p>
      <p class="font-normal">{{ plugin.price == 0 ? "Grátis" : "R$" + (plugin.price / 100) }}</p>
      <div class="flex w-full">
        <button class="btn h-10 w-1/2 m-2 flex justify-center items-center" *ngIf="!this.userService.containsPlugin(plugin.id) && plugin.price != 0" >
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg>
        </button>
        <a href="{{plugin.downloadLink}}" target="_blank" class="btn w-32 h-10 m-2 flex items-center justify-center" *ngIf="this.userService.containsPlugin(plugin.id) || plugin.price == 0" >{{ langs.getTranslation("plugins", "download") }}</a>
        <button (click)="pluginModal.openModal(plugin.id)" class="btn w-32 h-10 m-2" >{{ langs.getTranslation("plugins", "see_more") }}</button>
      </div>

    </div>

    <div *ngIf="loading"  class="spinner"></div>
    <div *ngIf="!loading && loadedPlugins.length === 0">No plugins found</div>
  </div>
  <footer>
    <button class="btn w-8 h-8 m-1 rounded-full" (click)="changePlugins(currentPage -1)" *ngIf="currentPage -1 > 0">{{ currentPage - 1 }}</button>
    <button class="btn w-8 h-8 m-1 rounded-full" (click)="changePlugins(currentPage)" style="background: blue">{{ currentPage }}</button>
    <button class="btn w-8 h-8 m-1 rounded-full" (click)="changePlugins(currentPage +1)" *ngIf="currentPage + 1 <= maxPages">{{ currentPage + 1 }}</button>
    <p>..</p>
    <button class="btn w-8 h-8 m-1 rounded-full" (click)="changePlugins(maxPages)" href="">{{ maxPages }}</button>
    <button class="btn w-8 h-8 m-1 rounded-full" (click)="changePlugins(currentPage -1 )"><</button>
    <button class="btn w-8 h-8 m-1 rounded-full" (click)="changePlugins(currentPage +1 )">></button>
  </footer>


</main>
