@import "tailwindcss";

header {
  @apply grid grid-cols-10 gap-6 not-md:grid-cols-6;

  padding: 0 10px 0 10px;
  align-items: center;
  height: 80px;
  border-radius: 0 0 9px 9px;
  border-top: none;
  width: 60vw;

}

.header-img {
  width: 70px;
  height: 70px;
}
.header-icon {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 70rem) {
  header {
    width: 90vw;
  }
}

@media screen and (max-width: 40rem) {
  header {
    width: 100vw;

  }
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.profile > * {
  margin: 5px;
}
hr {
  height: 85%;
  width: 2px;

}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 75vw;
  border-radius: 20px;

  @apply bg-white dark:bg-gray-700
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  text-decoration: none;

  border: 1px solid black;
  border-right: none;
  border-left: none;
}

.menu-link:hover {
  transition: 0.5s;
  transform: scale(1.0);
  background-color: #a6a6a6;
  @apply bg-gray-600;
}

.langs {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-radius: 20px;
}

.op {
  position: absolute;

  bottom: -57px;
  left: -50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  width: 130px;

  border: black 1px dashed;

  @apply bg-gray-100 dark:bg-gray-700;
}
.op a {
  text-decoration: none;
  color: black;
  padding: 5px;
}


