<header class="dark:bg-gray-700 bg-gray-50">
  <a href="" class="logo">
    <img ngSrc="/images/logo.png" width="80" height="80" alt="logo">
  </a>
  <nav>
    <a href="">Inicio</a>
    <a href="">Plugins</a>
    <a href="">Discord</a>
    <a href="">Extensões</a>
    <a href="">Docs</a>
  </nav>
  <div class="profile">
    <img ngSrc="/images/lupa.png" width="27" height="27" alt="search">
    <hr class="dark:bg-gray-50 bg-gray-500 m-3">
    <button (click)="toggleDark()"><img ngSrc="/images/forma-de-meia-lua.png" width="35" height="35" alt="profile"></button>
    <a href="" class="bg-black-bg-color">
      <img class="rounded-full" ngSrc="/images/profile.jpg" width="70" height="70" alt="profile">
    </a>
  </div>
</header>
