<app-markdown
  text = "
  # Termos MUITO BOM

  você usuario de plugins você precisa respeitar todos ao seu redor tenha respeito

  1. Não roube
  2. Não pirateie
  3. Respeite os membros

  ## Reembolso

  **Se comprou já era otário KKKKK, brincadeira,  devolução até 7 dias, fale no suporte para solicitar**

  # Privacidade

  ROUBAMOS TODOS OS DADOS DA SUA FAMILIA MAE TIA PRIMO AVÔ KKKKKKKKKKKKKKKKKKKKKKKKKKKKK

  na verdade so usamos dados do propio site, não se preocupe

  era brincadeira

"
></app-markdown>
