@import "tailwindcss";

.showLicence {
  height: 90vh;

  @apply w-[40vw] not-sm:w-[90vw] md:w-[60vw] lg:w-[45vw] bg-white dark:bg-gray-800 border border-gray-500 dark:border-gray-600;

  border-radius: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: space-around;

  padding: 20px;
}

.keys {

  @apply bg-gray-100 dark:bg-gray-900 border border-gray-500 dark:border-gray-600;

  border-radius: 20px;

  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 20px;

  gap: 5px;

}
.input-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  width: 100%;
}

.input-group label {
  white-space: nowrap;
  min-width: 60px;
  font-weight: 600;
}

.input-group input {
  flex: 1;
  border: 1px solid #333a44;
  border-radius: 8px;
  padding: 10px 14px;
  outline: none;
  width: 100%;

  @apply bg-gray-100 dark:bg-gray-950 border border-gray-500 dark:border-gray-600;
}

.input-group input:focus {
  border-color: #3b82f6;
}
