.sidebar {
  position: fixed;
  width: 250px;
  background-color: #8ee4ff;
  color: white;
  padding: 20px;
  height: 100vh;

  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  text-align: left;

  padding: 10px;


  border-right: none;
  border-left: none;
}

.links > a {
  display: flex;

  align-items: center;
  justify-content: left;
  text-align: center;

  height: 30px;
  width: 90%;
  margin: 7px;
}
.links svg {
  margin: 5px;
}

.user {

  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;

  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
  width: 100vw;

  background-color: #8ee4ff;

  border-radius: 0 0 20px 20px;

  align-items: center;
  justify-content: space-between;
}

header > * {
  margin: 10px;
}

hr {
  height: 85%;
  width: 2px;

}

.top > a {
  margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    background-color: #00294b;
    color: #ffffff;
  }

  header {
    background-color: #00294b;
    color: #ffffff;
  }

}

.logo {
  width: 50px;
  height: 50px;
}
