<main>
  <app-img class="not-sm:w-[83%] w-[65%] m-[35px] anm banner_title" alt="title" src="images/banner_title.png" width="230"/>
  <h2 class="text-center text-2xl font-extralight" [innerHTML]="langService.getTranslation('landingpage', 'subtitle')"></h2>
  <div class="banner">
    <app-img class="banner_img anm" alt="banner" src="images/banner_boy.png" width="230px"/>
    <div class="banner_text">
      <h3 class="font-bold text-xl">{{ langService.getTranslation('landingpage', 'why_chose') }}</h3>
      <p class="text-justify">
        {{langService.getTranslation('landingpage', 'why_chose_desc')}}</p>
      <button class="btn w-35 h-13 m-5 font-light text-center" (click)="scrollToPlugins($event)">
        {{langService.getTranslation('landingpage', 'see_plugins')}}
      </button>
    </div>
  </div>
  <div class="plugins">
    <header>
      <p class="rounded" style="background: #1796ff">Plugins: </p>
      <a class="btn rounded" href="">{{langService.getTranslation('landingpage', 'download_core')}}</a>
    </header>
    <div class="plugins-container" id="plugins">

      <div class="card">
        <img ngSrc="images/forma-de-meia-lua.png" alt="foto" width="1" height="1">
        <h3 class="font-normal">Github plugin</h3>
        <p>Esse plugin é o melhor plugin de alguma coisa</p>
        <div class="flex w-full">
          <button class="btn w-32 h-10 m-2">
            {{langService.getTranslation('landingpage', 'download')}}
          </button>
          <button class="btn w-32 h-10 m-2">
            {{langService.getTranslation('landingpage', 'see_more')}}
          </button>
        </div>

      </div>

    </div>
    <button routerLink="plugins" class="btn w-32 h-12 self-start m-3 not-sm:self-center">{{langService.getTranslation('landingpage', 'see_more')}}</button>
  </div>
</main>
