.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(45deg, #1e50f2, #31e7ed);
}

form {
  width: 27%;
  height: 85%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;

  justify-content: space-around;

  border: 6px solid rgba(0,0,0);
  border-radius: 26px;
}

.input {
  display: flex;
  width: 80%;
  flex-direction: column;
  transition: 0.5s;
}

input {
  text-align: start;

  width: 100%;
  height: 57px;

  background-color: #F1F1F1;

  border-radius: 10px;
  padding: 10px;

  border: 2px solid rgba(0,0,0,28%);
}

input:focus {
  border: 2px solid black;
}
.input:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.login-btn {
  background-color: #5053FF;
  width: 45%;
  height: 50px;
  color: white;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  width: 75%;
  height: 53px;
  display: flex;
  position: relative;
  background-color: black;
  border: black 4px solid;
  border-radius: 15px;
  overflow: hidden;
}

.pages > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  transition: 0.5s;
}

.login {
  background-color: #A6C6D3;
  z-index: 1;
}

.cadastro {

  background-color: white;
  border-radius: 0 0 0 0;
  z-index: 2;
}
.login:hover {
  z-index: 0;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 27px;
  font-size: 10px;
  color: black;
}
.terms input {
  margin-right: 5px;
  width: 30px;
}
.terms a {
  color: #5053FF;
  text-decoration: underline;
}


@media (prefers-color-scheme: dark) {

  form {
    background-color: #262626;
    border: 6px solid rgba(255, 255, 255,0.25);
  }
  .background {
    background: linear-gradient(#183488, #126162);
    box-shadow: inset 0 0 49px 22px rgba(0, 0, 0, 0.3); /* Sombra interna */
  }

  input {
    background-color: #545454;

    border: 2px solid rgba(255, 255, 255, 0.28);
  }

  .pages > * {
    color: white;
  }

  .login {
    background-color: #010D1E;
  }
  .cadastro {
    background: #327498;
  }
}

@media screen and (max-width: 40rem) {
  form {
    width: 90%;
  }
}

@media screen and (max-width: 64rem) and (min-width: 40rem) {
  form {
    width: 50%;
  }
}



