<div class="background">

  <form action="">
    <app-img src="images/logo.png" width="152px"></app-img>
    <h1 style="font-weight: 600; font-size: 36px" class="text-center">Cadastre-se no XG7Plugins</h1>

    <div class="input">
      <label for="nome">
        Nome de usuário:
      </label>
      <input type="text" id="nome" name="nome" placeholder="Digite seu nome de usuário do Mine" />

    </div>
    <div class="input">
      <label for="email">
        Email:
      </label>
      <input type="email" id="email" name="email" placeholder="Digite seu email" />

    </div>
    <div class="input">
      <label for="senha">
        Senha:
      </label>
      <input type="password" id="senha" name="senha" placeholder="Digite sua senha" />

    </div>

    <div class="terms">
      <input type="checkbox" id="terms" name="terms" />
      <label for="terms">
        Ao se cadastrar você concorda com os <a routerLink="/{{this.langService.getLang()}}/terms">termos de uso e a política de privacidade.</a>
      </label>
    </div>

    <a class="login-btn" href="">
      Cadastrar
    </a>

    <div class="pages">
      <a routerLink="/{{this.langService.getLang()}}/auth/login" class="login">Login</a>
      <a routerLink="/{{this.langService.getLang()}}/auth/register" class="cadastro">Cadastro</a>
    </div>

    <a class="font-light" routerLink="/{{this.langService.getLang()}}">
      <- Voltar para o site
    </a>

  </form>

</div>
