@import "tailwindcss";

main {

  padding: 0 50px 50px 300px;

  min-height: 100vh;

  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;


  @apply not-sm:p-0;
}

.info {
  width: 100%;

  min-height: 30vh;

  gap: 20px;

  padding: 20px;

  @apply grid grid-cols-3 not-sm:grid-cols-1;
}

.info > div, .rankings > div {
  height: 100%;


  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  padding: 20px;

  @apply bg-gray-200 dark:bg-gray-800 rounded-2xl;
}

.rankings {
  width: 100%;

  min-height: 30vh;

  gap: 20px;

  padding: 20px;

  @apply grid grid-cols-2 not-sm:grid-cols-1;
}
