@import "tailwindcss";

.modal {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: auto;
  border-radius: 20px;

  @apply bg-white dark:bg-gray-700;
}

.plugin {
  width: 50%;
  height: 100%;

  display: flex;

  align-items: center;
}

.plugin img {
  width: auto;
  height: 90%;
  margin-right: 10px;

  border: rgba(0, 255, 255, 0.6) solid 3px;
  background: rgba(0, 255, 255, 0.3);
  border-radius: 20px;
}

menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 5px;

  @apply bg-gray-100 dark:bg-gray-700 border-b border-gray-500 dark:border-gray-600;
}

menu > div {
  display: flex;
  justify-content: space-around;
  align-items: center;


  @apply bg-gray-100 dark:bg-gray-700 sm:w-[75%] w-full;
}

.lselected {
  text-decoration: underline;
}

main {
  display: flex;

  margin: 0;

  width: 100%;
  height: calc(100% - 35% - 50px);

  min-height: 0;

  @apply bg-gray-100 dark:bg-gray-700;
}

.text-container {
  width: 65%;
  height: 100%;

  padding: 10px;

  overflow: auto;

  @apply border-r border-gray-500 dark:border-gray-600 not-sm:w-full not-sm:border-none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 35%;
  height: 100%;

  overflow: auto;

  @apply border-l border-gray-500 dark:border-gray-600 not-sm:hidden;
}

.updates-section {
  padding: 20px;
  background-color: #1e1e2f;
  border-radius: 12px;
  color: white;
}

.update-card {
  @apply bg-gray-200 dark:bg-gray-800;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.update-card h3 {
  margin: 0 0 8px;
}

.update-date {
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 8px;
}

.update-card ul {
  padding-left: 20px;
}

.update-card p {
  margin: 4px 0;
}


.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;

  width: 100%;
  height: 150px;

  margin-top: auto;
  margin-bottom: 10px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.25);

  @apply bg-gray-300 dark:bg-gray-800 rounded-2xl not-sm:h-auto w-full not-sm:flex-col;
}


.input {
  width: 80%;
  height: 50px;

  padding: 10px;
  margin: 5px;

  border-radius: 10px;
  border: solid 1px white;

  @apply bg-gray-200 dark:bg-gray-700;
}
