<app-modal *ngIf="isModalOpen && plugin !== null" (close)="isModalOpen = false">
  <div class="modal w-[70vw] not-md:w-[90vw]">
    <div class="w-full h-[35%] not-sm:h-1/2 flex justify-between not-sm:flex-col overflow-auto">
      <div class="plugin p-5">
      <img src="{{ plugin.iconUrl }}" alt="foto" width="1" height="1">
      <div class="flex flex-col m-2">
        <h1>{{plugin.name}}</h1>
        <h4 class="font-light text-lg">{{plugin.slogan}}</h4>
        <div class="flex justify-between">
          <p>v{{plugin.version}}</p>
          <p>•{{plugin.categories.toString()}}</p>
        </div>
      </div>

      </div>
      <div class="p-7 text-right flex flex-col justify-between not-sm:flex-row not-sm:items-center flex-wrap not-sm:p-3">

        <h1>{{ plugin.price == 0 ? "Grátis" : "R$" + (plugin.price / 100) }}</h1>
        <h4 class="font-light text-lg">{{plugin.downloads}} downloads</h4>

        <div class="flex self-end justify-between not-sm:w-full">
          <a class="btn w-24 h-12 mr-2 flex items-center justify-center " *ngIf="plugin.githubLink && plugin.githubLink !== ''" href="{{plugin.githubLink}}">
            <svg class="m-1 rounded-full" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 24 24">
              <path d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z"></path>
            </svg>
            Github
          </a>
          <button class="btn w-56 h-12 ml-2 flex justify-center items-center" style="background: #199b19" *ngIf="plugin.price != 0" (click)="this.cartService.addToCart({id: plugin.id,imageUrl: plugin.iconUrl,name: plugin.name, price: plugin.price, quantity: 1})">
            <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg>
            Adicionar ao carrinho
          </button>
          <a href="{{plugin.downloadLink}}" target="_blank" class="btn ml-2 w-24 h-12 flex items-center justify-center" *ngIf="this.userService.containsPlugin(plugin.id) || plugin.price == 0" >
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
            {{ langService.getTranslation("plugins", "download") }}
          </a>
        </div>

      </div>


    </div>
    <menu>
      <div class="flex-wrap">
        <button (click)="setPage(0)" [ngClass]="this.isSelected(0) ? 'lselected' : ''" class="m-1" >Descrição</button>
        <button (click)="setPage(1)" [ngClass]="this.isSelected(1) ? 'lselected' : ''" class="m-1">Comandos</button>
        <button (click)="setPage(2)" [ngClass]="this.isSelected(2) ? 'lselected' : ''" class="m-1">Permissões</button>
        <button (click)="setPage(3)" [ngClass]="this.isSelected(3) ? 'lselected' : ''" class="m-1">Atualizações</button>
        <button (click)="setPage(4)" [ngClass]=" 'sm:hidden '  + (this.isSelected(4) ? 'lselected' : '')" class="m-1">Info</button>

      </div>
    </menu>
    <main>
      <div class="text-container" *ngIf="isSelected(0)">
        <app-markdown
          text="{{plugin.description}}"
        />
      </div>
      <div class="text-container" *ngIf="isSelected(1)">
        <app-markdown
          text="{{plugin.commands}}"
        />
      </div>
      <div class="text-container" *ngIf="isSelected(2)">
        <app-markdown
          text="{{plugin.permissions}}"
        />
      </div>
      <div class="text-container" *ngIf="isSelected(3)">
        <div class="relative update-card" *ngFor="let update of plugin.changelog">

          <p class="absolute top-1 right-2 opacity-70 hidden xl:flex"><strong>Atualizado em:</strong> {{update.updated}}</p>

          <div class="w-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -960 960 960" width="60px" fill="#e3e3e3"><path d="M160-160v-80h110l-16-14q-52-46-73-105t-21-119q0-111 66.5-197.5T400-790v84q-72 26-116 88.5T240-478q0 45 17 87.5t53 78.5l10 10v-98h80v240H160Zm400-10v-84q72-26 116-88.5T720-482q0-45-17-87.5T650-648l-10-10v98h-80v-240h240v80H690l16 14q49 49 71.5 106.5T800-482q0 111-66.5 197.5T560-170Z"/></svg>
          </div>

          <div class="update-date">
            <h1>{{update.title}}</h1>
            <p class="opacity-70 hidden not-xl:flex"><strong>Atualizado em:</strong> {{update.updated}}</p>
            <app-markdown
              text = "{{update.description}}"
            />
          </div>

        </div>
      </div>

      <div class="text-container" *ngIf="isSelected(4)">
        <div class="h-full border-b border-gray-500 dark:border-gray-600 flex flex-col justify-evenly p-2">
          <p class="font-bold">Criado em:</p>
          <p class="font-light">{{plugin.created}}</p>
          <p class="font-bold">Atualizado em:</p>
          <p class="font-light">{{plugin.updated}}</p>
        </div>
      </div>
      <div class="sidebar">
        <div class="h-full border-b border-gray-500 dark:border-gray-600 flex flex-col justify-evenly p-2">
          <p class="font-bold">Criado em:</p>
          <p class="font-light">{{plugin.created}}</p>
          <p class="font-bold">Atualizado em:</p>
          <p class="font-light">{{plugin.updated}}</p>
        </div>

      </div>
    </main>
  </div>
</app-modal>
