<app-modal *ngIf="isModalOpen && plugin !== null" (close)="isModalOpen = false">
  <div class="modal w-[75vw] not-md:w-[90vw]">
    <div class="w-full h-[35%] flex justify-between">
      <div class="plugin p-5">
      <img src="{{ plugin?.iconUrl }}" alt="foto" width="1" height="1">
      <div class="flex flex-col m-2">
        <h1>{{plugin.name}}</h1>
        <h4 class="font-light text-lg">{{plugin.slogan}}</h4>
        <div class="flex justify-between">
          <p>v{{plugin.version}}</p>
          <p>•{{plugin.categories.toString()}}</p>
        </div>
      </div>
      </div>
      <div class="p-7 text-right flex flex-col justify-between">

        <h1>{{ plugin.price == 0 ? "Grátis" : "R$" + (plugin.price / 100) }}</h1>
        <h4 class="font-light text-lg">{{plugin.downloads}} downloads</h4>

        <div class="flex self-end justify-between">
          <a class="btn w-20 h-12 mr-2 flex items-center justify-center" *ngIf="plugin.githubLink && plugin.githubLink !== ''" href="{{plugin.githubLink}}">Github</a>
          <button class="btn h-12 w-20 ml-2 flex justify-center items-center" *ngIf="!this.userService.containsPlugin(plugin.id) && plugin.price != 0" >
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg>
          </button>
          <a href="{{plugin.downloadLink}}" target="_blank" class="btn ml-2 w-20 h-12   flex items-center justify-center" *ngIf="this.userService.containsPlugin(plugin.id) || plugin.price == 0" >{{ langService.getTranslation("plugins", "download") }}</a>
        </div>

      </div>


    </div>
    <menu>
      <button (click)="setPage(0)" [ngClass]="this.isSelected(0) ? 'lselected' : ''" >Descrição</button>
      <button (click)="setPage(1)" [ngClass]="this.isSelected(1) ? 'lselected' : ''">Comandos</button>
      <button (click)="setPage(2)" [ngClass]="this.isSelected(2) ? 'lselected' : ''">Permissões</button>
      <button (click)="setPage(3)" [ngClass]="this.isSelected(3) ? 'lselected' : ''">Avaliações</button>
      <button (click)="setPage(4)" [ngClass]="this.isSelected(4) ? 'lselected' : ''">Atualizações</button>
    </menu>
    <main>
      <div class="text-container" *ngIf="isSelected(0)">
        <app-markdown
          text="{{plugin.description}}"
        />
      </div>
      <div class="text-container" *ngIf="isSelected(1)">
        <app-markdown
          text="{{plugin.commands}}"
        />
      </div>
      <div class="text-container" *ngIf="isSelected(2)">
        <app-markdown
          text="{{plugin.permissions}}"
        />
      </div>
      <div class="text-container" *ngIf="isSelected(3)">
        a
      </div>
      <div class="text-container" *ngIf="isSelected(4)">
        b
      </div>
      <div class="sidebar">
        <div class="h-1/2 border-b border-gray-500 dark:border-gray-600 flex flex-col justify-evenly p-2">
          <p>Criado em: {{plugin.created}}</p>
          <p>Atualizado em: {{plugin.updated}}</p>
        </div>
        <div class="h-1/2 border-t border-gray-500 dark:border-gray-600;">
          <h2>Avalie-nos</h2>
          <input placeholder="Rating" type="number">
          <input placeholder="Text" type="text">
        </div>
      </div>
    </main>
  </div>
</app-modal>
