@import "tailwindcss";
* {
  @apply dark:text-white text-black;

  --white-bg-color: #FCFFFF;
  --white-cards-color: white;
  --white-icons-color: #CFCFCF;

  --black-bg-color: #010D1E;
  --black-cards-color: #262626;
  --black-icons-color: #F8F8F8;
}

@theme {

  --color-gray-50: var(--white-bg-color);
  --color-gray-100: var(--white-cards-color);
  --color-gray-500: var(--white-icons-color);

  --color-gray-800: var(--black-bg-color);
  --color-gray-200: var(--black-icons-color);
  --color-gray-700: var(--black-cards-color);

}

html {
  scroll-behavior: smooth;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter, sans-serif;

  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

svg {
  @apply fill-gray-800 dark:fill-gray-50
}

.btn {
  background-color: #1796ff;

  border-radius: 18px;

  @apply text-white
}
.btn:hover {
  transition: 0.5s;
  transform: scale(1.05);
  background-color: #4343ff;
}

a:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

@keyframes aparecer {
  from {
    opacity: 0;
    top: -100px
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.anm {
  animation: aparecer;
  animation-duration: 1.5s;
}

/* You can add global styles to this file, and also import other style files */
