<h1 class="pl-[310px] mt-2 not-sm:pl-2 not-sm:mt-20">Dashboard: </h1>
<main>

<div class="balance-plugins col-span-full">
  <div class="flex flex-col w-[47%]">
    <h5 class="font-light text-xl m-4">Saldo atual:</h5>
    <p class="text-4xl font-bold  m-4">R$ 0,00</p>
    <a href="" class="btn p-3 w-1/2 h-15 text-center  m-4">Recarregar saldo</a>
  </div>

  <hr class="dark:bg-gray-400 bg-gray-700 m-3 w-[6%]" />

  <div class="flex flex-col w-[47%]">
    <h5 class="font-light text-xl m-4">Plugins:</h5>

    <p class="text-4xl font-bold m-4">3</p>
  </div>

</div>

  <div class="last-updates col-span-4 not-sm:col-span-full">
    <h1>Últimas atualizações:</h1>


  </div>

  <div class="most-posts col-span-2 not-sm:col-span-full">
    <h1>Posts em destaque:</h1>


  </div>

  <div class="most-posts col-span-3 not-sm:col-span-full">
    <h1>Ranking de clientes:</h1>


  </div>

  <div class="most-posts col-span-3 not-sm:col-span-full">
    <h1>Ranking mais posts:</h1>


  </div>


</main>

<app-dashboard-footer></app-dashboard-footer>




